{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}

<main>
    
    <!--Début : Séction présentation du garage -->
    <section>
    <div class="container-sm d-flex justify-content-center">
        <div class="card bg-white mb-3 border-secondary-subtle border-3 rounded-4" style="max-width:510x;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src='/images/car/garage/garageauto.jpg' style="min-height: 430px" class="img-fluid rounded-start" alt="Photographie garage automobile">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h2 class="m-3 card-title text-center"> Le Garage V. Parrot ... </h2>
                    <p class="card-text">
                        Depuis 2021, le Garage V.Parrot s'attèle à réparer vos véhicules et à 
                        offrir une qualité de service client irréprochable. Spécialisé dans
                        la réparation de la carrosserie et de la mécanique des voitures, nous 
                        proposons également un service d'entretien régulier pour garantir la sécurité 
                        et les performances de votre voiture !
                    </p>
                     <p class="card-text">
                        Composée d'une équipe de professionnels aguéris depuis plus de 15 ans 
                        dans le milieu de la réparation automobile, nous vous proposons différents 
                        services tels que le contrôle technique, la révision et la vidange d'huile, 
                        le changement de pneus, de plaquettes ou de la courroie de distribution...
                    </p>
                    <p class="card-title">
                        Notre équipe de carrossiers s'occupera aussi de parfaire votre voiture
                        et d'éliminer les aspérités aquises au fil du temps tels que les éraflures,
                        les rayures, un pare-choc abîmé... pour lui redonner son aspect originel.
                    </p>
                    <p class="card-title"> 
                        Notre priorité est votre satisfaction ! C'est pourquoi nous mettons tout en 
                        oeuvre pour vous offrir un service de qualité en mettant à profit notre expertise
                        technique et en vous offrant un service personnalisé. N'hésitez plus et faites nous 
                        confiance pour nous occuper de votre véhicule avec plus grand soin !
                    </p>
                </div>
              </div>
            </div>
        </div>
    </div>
    </section>
    <!--Fin : Section présentation du garage -->

    <!--Début : Création cards pour les services -->
    

    <section class="services d-flex flex-column align-items-center">
        <h2 class="text-center"> Nos services proposés </h2>
        {% for services in services %}
        
            <div class="row g-0">
                <div class="col-md-4">
                    <div class="card my-5 rounded-4" style="width: 35rem;"> 
                    <img src="" class="card-img-top" alt="">
            
                    <div class="card-body text-center flex-wrap justify-content-center">
                        <h4 class="card-title fw-bold"> {{ services.title }}</h4>
                        <p class="card-text">
                           {{ services.content |nl2br }}
                        </p>
                        
                    </div>
                    </div>
                </div>
            </div>
        
        {% endfor %}

    </section>
    <!--Fin : Création cards pour les services -->

    <section class="reviews">
        
        
    </div>
    </section>

</main>

{% include "menu/footer.html.twig" %} 
{% endblock %}