{% block body %}

    <div class="valueSlider my-5 mx-3">
        <div class="m-3">
            <div class="d-flex align-items-center gap-3">
                <label for="slider1"> Prix : </label>
			    <input class="slider1 slide" type="range" name="slider1"  min="0" max="75000" step="500" value="25000" id="slider1">   
                <div class="getFilter1">25000</div>
            </div>       
        </div>
    
        <div class="m-3">
            <div class="d-flex align-items-center gap-3"> 
                <label for="slider2"> Kilométrage : </label> 
			    <input class="slider2 slide" type="range" name="slider2" min="0" max="285987" step="500" value="100000" id="slider2"> 
                <div class="getFilter2">100000</div>
            </div>
        </div>
    
        <div class="m-3">
            <div class="d-flex align-items-center gap-3">
                <label for="slider3"> Année : </label>
			    <input class="slider3 slide" type="range" name="slider3" min="2005" max="2024" step="1" value="2024" id="slider3">
                <div class="getFilter3">2024</div>
            </div>
        </div>
        <button class="btn btn-danger rounded-4 border-0" style="width: 7rem; height: 2.5rem" id="toggleReset"> Réinitialiser </button>
    </div>

{% endblock %}
