@import "custom";
@import "~bootstrap/scss/bootstrap";

body {
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.btn:hover {
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); 
    color: white;
}

footer {
    background-color : #91ADC2;
}
