@import "~bootstrap/scss/bootstrap";

// Global CSS 
* 
{
    margin: 0;
    padding: 0;
}

body 
{
    background-color: white;
    font-family: 'Quicksand', sans-serif;
}

section
{
    margin-top: 20px;
    padding: 10px;
}

         
.btn {
    background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
    transition: 0.5s;
    background-size: 200% auto;           
  }

.btn:hover {
    background-position: right center; 
    text-decoration: none;
  }
 
// Navbar 

.nav-link
{
    color: #620E11;
}

.nav-link:hover
{
    color: black;
    transition: ease-out 1s;
    cursor: pointer;
}


// Les services et voitures

.card:hover
{
    box-shadow: 10px 16px 20px rgba(0, 0, 0, 0.2);
    transition: 1s;
}

.card > button 
{
    text-align: center;
}

// Filter 

.slide {
    accent-color: #b31217;
}

.borderCard {
    height: 0.1rem;
    width: 100%;
    background-color: #620E11;
}
// Formulaire de contact 

.form-success
{
    width: 40rem;
    border-radius: 5rem;
    justify-content: center; 
    border-width: 0.3rem; 
    border-color: #620E11;
    border-style:solid;
    transition: 3s;
}

.form-success:hover
{
    transform: scale(1.10);
}

// Footer 

footer 
{
    width: 100%;
    height: 22rem;
    background-color : #620E11;
    color: white;
    font-size: 10px;
}

.openingHour 
{
    gap: 3rem;
}

.map {
    width:"180";
    height:"150";
    border: "0";
}

// Media Queries 
@media screen and (min-width:768px) 
{
    .openingHour {
        gap: 30rem;
    }

}

@media screen and (min-width: 992px)
{
    
    .navbar-expand-lg
    .navbar-collapse 
    {
        flex-direction: column;
        align-items: flex-end;
    }

    .navbar-expand-lg 
    .navbar-nav {
        gap: 6rem;
    }

}

