@import "~bootstrap/scss/bootstrap";

// Global CSS 
* 
{
    margin: 0;
    padding: 0;
}

body 
{
    background-color: white;
    font-family: 'Quicksand', sans-serif;
}

section
{
    margin-top: 20px;
    padding: 10px;
}

.btn:hover 
{
    background-color: #a50c20;
    color: white;
}

// Navbar 

.nav-link
{
    color: #620E11;
}

.nav-link:hover
{
    color: black;
    transition: ease-out 1s;
    cursor: pointer;
}

// Les services 

.card 
{
    background: #f6f6f6;
}

.card:hover
{
    box-shadow: 10px 16px 20px rgba(0, 0, 0, 0.2);
    transition: 1s;
}

.card > button 
{
    text-align: center;
}

// Formulaire de contact 

.form-success
{
    width: 40rem;
    border-radius: 5rem;
    justify-content: center; 
    border-width: 0.3rem; 
    border-color: #620E11;
    border-style:solid;
    transition: 3s;
}

.form-success:hover
{
    transform: scale(1.10);
}

// Footer 

footer 
{
    width: 100%;
    height: 22rem;
    background-color : #620E11;
    color: white;
    font-size: 10px;
}

.openingHour 
{
    gap: 3rem;
}

// Media Queries 
@media screen and (min-width:768px) 
{
    .openingHour {
        gap: 30rem;
    }

}

@media screen and (min-width: 992px)
{
    
    .navbar-expand-lg
    .navbar-collapse 
    {
        flex-direction: column;
        align-items: flex-end;
    }

    .navbar-expand-lg 
    .navbar-nav {
        gap: 6rem;
    }

}
