{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}

    <main>
        <div class="container-sm">
            <div class="form-success">
                <h5> Message envoyé !</h5>
                <p> Merci pour l'attention portée au Garage V.Parrot ! </p>
                <p> Nous reviendrons vers vous dans les plus brefs délais, 
                     votre satisfaction est notre priorité.
                </p>
                </div>
        </div>
    </main>

{% endblock %}