{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}
 
    <main>
        <div class="container-sm d-flex flex-wrap flex-column align-items-center">
            <div class="form-success d-flex flex-column text-center">

                <h5 class="pt-3"> Message envoyé ! </h5>
                <p class="pt-3"> Merci pour l'attention portée au Garage V.Parrot ! </p>
                <p> Nous faisons de notre mieux pour répondre à votre demande au plus vite.
                    Nous reviendrons vers vous dans les plus brefs délais... 
                </p>
                <p> Votre satisfaction est notre priorité ! </p>
                <p> Garage V. Parrot </p>

                <div class="d-flex flex-wrap justify-content-center">
                    <button class="mb-3 btn btn-dark btn-outline-light rounded-4" type="submit">
                        Retour 
                    </button>
                </div>
                </div>
        </div>
    </main>

{% endblock %}