<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" lang="fr" content="Garage automobile Vincent Parrot">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href={{ asset('styles/app.css') }}>

        <title>{% block title %}Garage V.Parrot{% endblock %}</title>

        {% block stylesheets %} {{ encore_entry_link_tags('app') }} {% endblock %}
        
    </head>

    <body>
        {% include "menu/header.html.twig" %}

        {% block body %}
        {% endblock %}

        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>

